body {
    background: url(binary-1381337_1920.png) no-repeat center center fixed;
    font-family: sans-serif;
    color: #212121;
}

.container {
    max-width: 960px;
    background: rgba(255, 255, 255, .98);
    border: 3px solid #388E3C;
    border-radius: 5px;
    padding: 0;
    margin: 5px auto;
}

header {
    background-image: url(software-871026_1280.jpg);
    background-size: auto;
    text-align: center;
    margin-top: -30px;
    margin-bottom: 30px;
    width: 100%;
    height: auto;
    h1 {
        font-size: 3em;
        color: #ffffff;
        text-align: right;
        font-family: fantasy;
        padding: 30px;
    }
}

main {
    padding: 25px;
}

#programmer {
    float: right;
    width: 40%;
    height: auto;
    padding: 15px;
}

h1,
h2,
h3 {
    color: #388E3C;
}

p {
    padding-left: 40px;
    font-size: 1.4em;
}

nav {
    text-align: right;
    padding: 20px;
    a {
        font-size: 1.5em;
        color: #388E3C;
        font-weight: 400;
        background: rgba(255, 255, 255, .8);
        text-decoration: none;
        padding: 10px 20px;
        margin: 5px 10px;
        border-radius: 20px;
    }
    a:hover {
        background: #388E3c;
        color: #FFFFFF;
    }
}